<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!-- 包扫描 -->
    <context:component-scan base-package="com.baicai.controller" />

    <!-- 注解驱动(RequestMappingHandlerMapping、RequestMappingHandlerAdapter、JSON支持等) -->
    <mvc:annotation-driven/>

    <!--使用默认Servlet响应静态文件-->
    <mvc:default-servlet-handler/>

    <!--<mvc:resources mapping="js/**" location="/js/" order="0" cache-period="31556926" />-->

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
</beans>